@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.InsertScript_page::before{
  content: "";
  background-image: url('../../image/Page2_back.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-size: cover;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.3; 
}

.InsertScript_page 
{
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.91) ;
}

.InsertScript_page h1
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #E58D25;
  font-size: 7vmin;
  font-family: 'Playfair Display';
}

.InsertScript_page div
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.InsertScript_page .title .myQuestion
{
  padding: 0px 30px 0px 30px;
  width: 20vw;
  height: 5vh;
  border-radius: 10px;
  font-size: 2vmin;
  border: 0px;
  color: white;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 25px rgba(0,0,0,0.2);
  border-radius: 5px;
  border-top: 1px solid rgba(255,255,255,0.5);
  margin:1.5vmin;

}

.InsertScript_page .title .time
{
  width: 3vmin;
  height: 3vmin;
  font-size: 1.5vmin;
  border: 2px solid ;
  border-radius: 10px;
  color: #E58D25;
}

.InsertScript_page textarea::-webkit-scrollbar {
  width: 10px;
}
.InsertScript_page textarea::-webkit-scrollbar-thumb {
  background-color: #E58D25;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}


.InsertScript_page textarea
{
  width: 24vw;
  height: 50vh;
  padding: 2em;
  background-color: #FFFFFF;
  border: none;
  border-radius: 10px;
  position: relative;
  overflow-y:scroll;
  overflow-x:hidden;
}

.InsertScript_page button
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11vw;
  height: 7vh;
  border-radius: 10px;
  font-size: 3vmin;
  border: 0px;
  color: white;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 25px rgba(0,0,0,0.2);
  border-radius: 5px;
  border-top: 1px solid rgba(255,255,255,0.5);

}

.InsertScript_page div button:hover
{
  color: #E58D25;
  border-top: 1px solid #E58D25;
}

.InsertScript_page .back
{
  position: absolute;
  bottom: 8vh;
  left: 4vw;
}

.InsertScript_page .back:hover
{
  color: #E58D25;
  border-top: 1px solid #E58D25;
}

.InsertScript_page .submit
{
  position: absolute;
  bottom: 8vh;
  right: 4vw;
}

.InsertScript_page .submit:hover
{
  color: #E58D25;
  border-top: 1px solid #E58D25;
}